/ejemploBBDD/nbproject/private/
/ConsumirWS/nbproject/private/
/ServicioPHP/nbproject/private/
/ConsumirRest/build/
/ConsumirRest/nbproject/private/
/ConsumirRest/dist/
/migSeed/nbproject/private/
/apiLaravel/nbproject/private/
/ejemploAuth/nbproject/private/
/ejemploMiddleware8/nbproject/private/
/apiLaravelPass/nbproject/private/
/apiLaravelP/nbproject/private/
/ejemApiPassport/nbproject/private/

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
